<!DOCTYPE html>
<html>
	<section id="indenter">
		<head>
			<script src="https://vuejs.org/js/vue.js" defer></script>
			<script src="js/js_script.js" defer></script>
			<!--<script src="/socket.io/socket.io.js" defer></script>-->
			<script type="text/javascript" src="js/menu.js" defer></script>
			<script src="js/vue_script.js" defer></script>
			<link rel="stylesheet" type="text/css" href="css/burger.css">
		</head>
		<div id="vue-container">
		<body>
			<div id="head-and-image">
				<h1 v-bind:title="hoverDate">
					Välkommen till wow-burger (tm)
				</h1>
				<img id="top-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-french-fries-horizontal-1537551908.jpg?resize=768:*">
			</div>
			<main id="burgertable">
					<h2 style="margin: 1em;">Burgers:</h2>
					<div class="burgerWrapper">
						<div class="burgerSlot" v-for="burger in menu">
							<img :src="burger.img" class="menuImage"></img><br>
								<input type="checkbox" :value="burger.name" v-model="currentOrder">
						 			<span>{{ burger.name }}
										<p>kCal: {{ burger.kcal }}</p>
										<p>price: {{ burger.price }} kr</p>
										<p v-show="!burger.lactose && !burger.gluten" class="allergen">no allergens!</p>
								 	</span>
						</div>
					</div>
			</main>
			<div id="order">
				<p>
		    	<label for="name">Please order here</label><br>
		    	<input type="text" id="first-lastname" name="fn" required="required" placeholder="First- and lastname" v-model="fullName">
					<label for="adress"></label><br>
		    	<input type="text" id="email" name="fn" required="required" placeholder="E-mail adress" v-model="email">
					<label for="number"></label><br>
					<input type="text" id="street" name="fn" required="required" placeholder="Street" v-model="street">
					<label for="number"></label><br>
					<input type="number" id="streetno" name="fn" required="required" placeholder="street no" v-model="streetNo">
					<label for="number"></label><br>
					<input type="number" id="number" name="fn" required="required" placeholder="Phone number ;) :*" v-model="phoneNumber">
					<label for="order"></label><br>
		    	<textarea name="Text1" cols="40" rows="5" placeholder="<3 Please write your order <3" v-model="comment"></textarea>
				</p>
				<p>
		    	<label for="favouriteburger">Give away! Favourite burger?? Win an iphone</label><br>
		    	<select value="favouriteburger" v-model="favouriteburger">
		        <option>Moldy Joe</option>
		        <option>Whale burger</option>
		        <option>Mcnugget</option>
		        <option>Kebnekaise</option>
		        <option>Crispy Japaleno</option>
		    	</select>
				</p>
				<form>
					<h4>Gender???</h4>
					<input type="radio" name="gender" value="male" v-model="gender"> Male</input><br>
		  		<input type="radio" name="gender" value="female" v-model="gender"> Female</input><br>
					<input type="radio" name="gender" value="none of your business!!" v-model=	"gender"> non-binary</input><br>
				</form>
			</div>
			<div id="orderInfo">
				<h3>Your order: </h3> {{currentOrder.join()}}
			</div>
			<button type="submit" id="orderButton" v-on:click="orderPlaced(); toggleShowOrder()"><img src="https://banner2.kisspng.com/20180208/vpw/kisspng-check-mark-x-mark-clip-art-check-marks-5a7c0970695394.0588040215180783204314.jpg" id="orderButtonImage"> Place order </button>
			<div>
				<h3 v-show="showOrder">Your order was recieved: </h3> <span v-show="showOrder">{{orderPlaced()}}</span>
				<!--<span v-show="showOrder">{{fullName}}</span>-->
			</div>
			<footer style = "background-color:lightgrey">
				<h3 align="center">Contact us at:	</h3>
				<p align="center">funnyfunnyburger@ham.no</p>
			</footer>
		</div>
		</body>
	</section>
</html>
